
<title>Formulario</title>
</head>
<body>
<form  action="/cad"  method="POST">
  <fieldset>
<legend>Preencha os dados abaixo:</legend>
<div class="linha">
<label>Nome: <br />
<input name="nome" type="text" id="nome" size="40" />
</label>
</div>

<div class="linha2">

<label>
Email: <br />
<input name="email" type="text" id="email" size="40" />
</label>
</div>

<div class="linha">

<label>
password: <br />
<input name="password" type="text" id="password" size="40" />
</label>
</div>

<div class="linha">

<label>
  Conta: <br />
  <input name="conta" type="number" id="conta" size="40" />
  </label>
  </div>
    
<div class="linha">

<label>
  Saldo: <br />
  <input name="saldo" type="number" id="saldo" size="40" />
  </label>
  </div>
      
<div class="linha">

<label><input name="Enviar" type="submit" id="Enviar" value="Enviar" />
</label>
</div>
</fieldset>

</form>