<title>Formulario01</title>
</head>
<body>
<form action="" method="POST">
  <fieldset>
<legend>Preencha os dados abaixo:</legend>
<div class="linha">

    <label><input name="Deposita" type="submit" id="Deposita" value="Deposita" />
    </label>

    <label><input name="Sacar" type="submit" id="Sacar" value="Sacar" />
    </label>
    </div>
    </fieldset>
</form>