<title>Formulario01</title>
</head>
<body>
<form action="/esc" method="POST">
  <fieldset>
<legend>Preencha os dados abaixo:</legend>
<div class="linha">

    <div class="linha2">

    <label>
    Conta: <br />
    <input name="Conta" type="text" id="Conta" size="40" />
    </label>
    </div>

    <div class="linha">

    <label>
    Saldo: <br />
    <input name="Saldo" type="text" id="Saldo" size="40" />
    </label>
    </div>

    <label><input name="Deposita" type="submit" id="Deposita" value="Deposita" />
    </label>

    <label><input name="Sacar" type="submit" id="Sacar" value="Sacar" />
    </label>
    </div>
    </fieldset>
</form>