<title>Formulario01</title>
</head>
<body>
<form action="/cad" method="POST">
  <fieldset>
<legend>Preencha os dados abaixo:</legend>
<div class="linha">

    <div class="linha2">

    <label>
    Conta: <br />
    <input name="Conta" type="text" id="Conta" size="40" />
    </label>
    </div>

    <div class="linha">

    <label>
    Saldo2: <br />
    <input name="Saldo2" type="text" id="Saldo2" size="40" />
    </label>
    </div>

    <label>
    <a href="/somar/{{conta}}"><button>Depositar</button></a>
    </label>

    <label>
    <a href=""><button>Sacar</button></a>
    </label>
    </div>
    </fieldset>
</form>